*{
    margin: 0;
    padding: 0;
}

.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock{
    background-color: orange;
    height:5vh;
    width: 20vh;
    border-radius: 1rem;
    color:white;
    text-align: center;
    align-content: center;
}